<br>
<br>

<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12 text-center">
          <img src="assets/imagenes/logo-inicial-juego.png"
               alt="Logo bolsa de quito"
               class="animated fadeInLeft logo-borde img-thumbnail img-fluid logo-inicial">
        </div>
      </div>
      <div class="col-sm-12">
        <br>
        <br>
        <div class="contenedor-azul ">
          <h2 class="text-left color-blanco bold " >
            ¡Portal de  Servicios!
          </h2>
          <p class="text-justify tamanio-letras">
          Instituto Internacional de Belleza, se encuentra ubicada en la ciudad de Quito, en la Av.
América N34-113 y Lallement. Centro de Formación Académica Particular.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="row">
      <div class="col-sm-12">
        <app-menu-opciones-inicio></app-menu-opciones-inicio>
      </div>
    </div>
  </div>
</div>
