.rojo {

  color: #b41611
}
.azul {
  color: #1a277a;
}
 .fondo-rojo {
   background-color: #b41611;
   color: #ffff;
 }

.fondo-rojo:hover {
  background-color: #20901d;
  color: #ffff;
}

.verde {
  color: #20901d;
}

