.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0.5rem;
  text-align: center;
  background-color: #fff;
  border-top: solid 1px grey;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
}
