<div class="row">
    <div class="col-sm-12">
      <h3 mat-dialog-title>
        <span class="bold">{{data.grado ? 'Editar' : 'Crear'}} nota de proyecto</span>
      </h3>
    </div>
  </div>
  
    <div mat-dialog-content>
    <div class="row contenido-modal">
      <div class="col-md-12">
        <p class="descripcion-modal">Ingrese los campos para {{ data.grado ? 'editar' : 'crear'}} un nota de proyecto:</p>
      </div>
      <div class="col-sm-12">
        <app-formulario-grado
          (gradoValida)="validarFormulario($event)"
          [grado]="data.grado"
          [estudiante]="data.estudiante"
        >
        </app-formulario-grado>
      </div>
    </div>
  </div>
  
  <mat-dialog-actions class="justify-content-end">
    <div class="d-flex flex-row-reverse">
      <div class="p-2">
        <button class="btn btn-primary" (click)="metodoCrearEditar()" [disabled]="!formularioValido">GUARDAR
        </button>
      </div>
      <div class="p-2">
        <button mat-dialog-close class="btn btn-outline-secondary">CANCELAR</button>
      </div>
    </div>
  </mat-dialog-actions>
  