<div class="row">
  <div class="col-sm-12">
    <h3 mat-dialog-title>
      <span class="bold">{{data.producto ? 'Editar' : 'Crear'}} producto</span>
    </h3>
  </div>
</div>

  <div mat-dialog-content>
  <div class="row contenido-modal">
    <div class="col-md-12">
      <p class="descripcion-modal">Ingrese los campos para {{ data.producto ? 'editar' : 'crear'}} un producto:</p>
    </div>
    <div class="col-sm-12">
      <app-formulario-producto
        (rolValido)="validarFormulario($event)"
        [producto]="data.producto"
      >
      </app-formulario-producto>
    </div>
  </div>
</div>

<mat-dialog-actions class="justify-content-end">
  <div class="d-flex flex-row-reverse">
    <div class="p-2">
      <button class="btn btn-primary" (click)="metodoCrearEditar()" [disabled]="!formularioValido">GUARDAR
      </button>
    </div>
    <div class="p-2">
      <button mat-dialog-close class="btn btn-outline-secondary">CANCELAR</button>
    </div>
  </div>
</mat-dialog-actions>

